In [ ]:
import pandas as pd

In [ ]:
# Leer la base de datos original desde el archivo Excel
df_original = pd.read_excel('/content/BD_Prueba_TransformaciónBases.xlsx', sheet_name='Base Original')

In [ ]:
# Mostrar los primeros registros de la base original para referencia
print("Base Original:")
print(df_original.head())

Base Original:
   ParticipanteID     Nombre completo        Correo electrónico  Género  \
0               1    Arlin Lonsbrough     alonsbrough0@usgs.gov   Mujer
1               2    Merline Ferschke      mferschke1@hexun.com   Mujer
2               3        Ursula Moret  umoret2@seattletimes.com  Hombre
3               4     Annette Kliment      akliment3@utexas.edu  Hombre
4               5  Klement Strickland      kstrickland4@bbb.org   Mujer

  Región de residencia            Color favorito
0                norte             amarillo,rojo
1                  sur             amarillo,rojo
2                  sur  amarillo,azul,rojo,verde
3                norte                      azul
4                norte             amarillo,rojo

In [ ]:
# Transformar la base de datos al formato largo
df_long = pd.melt(df_original, id_vars=['ParticipanteID'],
                  value_vars=['Nombre completo', 'Correo electrónico', 'Género', 'Región de residencia', 'Color favorito'],
                  var_name='Variable', value_name='Valor')

In [ ]:
# Mostrar los primeros registros de la base transformada para referencia
print("Base Transformada:")
print(df_long.head())

Base Transformada:
   ParticipanteID         Variable               Valor
0               1  Nombre completo    Arlin Lonsbrough
1               2  Nombre completo    Merline Ferschke
2               3  Nombre completo        Ursula Moret
3               4  Nombre completo     Annette Kliment
4               5  Nombre completo  Klement Strickland

In [ ]:

# Guardar la base transformada en un nuevo archivo Excel
output_file_path = 'BD_Prueba_TransformaciónBases_Transformada.xlsx'
df_long.to_excel(output_file_path, index=False)

In [ ]:
print(f"Transformación completada y datos guardados en '{output_file_path}'")

Transformación completada y datos guardados en 'BD_Prueba_TransformaciónBases_Transformada.xlsx'